:root {
    --main-white: #F8E9A1;
    --main-red: #F76C7C;
    --main-lightblue: #A8D0E6;
    --main-medblue: #374785;
    --main-darkblue: #24305E;
}

* {
    margin: 0;
    padding: 0;
  }

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-white);
}

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-darkblue);
    box-shadow: 0 2px 0 var(--main-medblue);
}

.nav-list {
    display: flex;
    margin-right: 4rem;
}

@media (max-width: 28.75em) {
    .nav {
      justify-content: center;
    }
    
    .nav-list {
      margin: 0 1rem;
    }
}

.nav-list a {
    display: block;
    font-size: 1.5rem;
}

.nav-list a:hover {
    color: var(--main-red);
    transition: color 1s ease-in-out;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 10;
    text-align: center;
}

h1 {
    font-size: 5rem;

}

h2 {
    font-size: 2.5rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;  
    color: var(--main-white); 
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: var(--main-darkblue);
}